#root {
  width: 100%; /*hace que el contenedor principal ocupe todo el ancho disponible*/
  margin: 0;
  padding: 0; /*elimina el padding por defecto del contenedor principal*/
  box-sizing: border-box; /*incluye el padding y el borde en el cálculo del ancho y alto total*/
}
