:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /*fuentes para el texto*/
  line-height: 1.5; /*interlineado*/
  font-weight: 400; /*grosor de la fuente*/
  color-scheme: light dark; /*soporte para temas claros y oscuros*/
  color: rgba(255, 255, 255, 0.87); 
  background-color: #242424; /*color de fondo oscuro*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*mejora la legibilidad y calidad de las fuentes en diferentes navegadores*/
}

body {
  margin: 0; /*elimina el margen por defecto del body*/
  min-width: 320px; /*ancho mínimo para dispositivos móviles*/
  min-height: 100vh; /*altura mínima para cubrir toda la ventana*/
  background: #242424; /*color de fondo oscuro*/
  color: rgba(255, 255, 255, 0.87); 
}

/* estilos de enlaces si queremos un color base */
a {
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
